.backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 40px;

    &-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        margin-bottom: 12px;
    }

    &-field {
        margin-bottom: 10px;

        &:nth-last-child(-n+3) {
            margin-bottom: 0px;
        }
    }

    &-input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding-left: 42px;
        outline: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &-wrap {
            position: relative;
        }
        &:focus {
            border-color: var(--accent-color);
        }
    }

    &-label {
        color: var(--secondary-text-color);
        font-size: 12px;
        line-height: 0.85;
        letter-spacing: 0.01em;
        display: block;
        margin-bottom: 4px;
    }

    &-text {
        font-size: 12px;
        line-height: 0.85;
        letter-spacing: 0.01em;
        width: 100%;
        height: 120px;
        padding: 12px 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        display: block;
        resize: none;
        outline: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
            border-color: var(--accent-color);
        }

        &::placeholder {
            color: rgba(117, 117, 117, 0.5);
        }
    }
}

.button-close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 8px;
    right: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    &:focus,
    &:hover {
        fill: var(--accent-color);
    }
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .modal-input:focus+& {
        fill: var(--accent-color);
    }
}

.input-button {
    font-family: roboto, sans-serif;
    color: var(--white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    display: block;
    padding: 10px 32px;
    height: 50px;
    min-width: 200px;
    margin: auto;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background: #188CE8;

    }
}

.check-field {
    margin-top: 20px;
    margin-bottom: 30px;
}

.check-text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
    align-items: center;
    display: flex;
    justify-content: center;

    &::before {
        content: " ";
        width: 16px;
        height: 15px;
        border: 2px solid #000000;
        border-radius: 2px;
        margin-right: 7px;
        cursor: pointer;
    }

    .input-check:checked+&::before {
        background-color: var(--accent-color);
        border: none;
        background-image: url(../images/check2.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}

.check-link {
    font-size: 14px;
    line-height: 1.71;
    color: var(--accent-color);
}