.logo {
    color: var(--accent-color);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    display: block;
}

.logo__header--color {
    color: var(--black-color);
}

.footer__logo {
    margin-bottom: 20px;
    &--color {
            color: var(--white-color);
        }
}

